*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
nav{
    background-color: #2b2b2b;
}
ul{
    display:flex;
    justify-content: center;
    padding: 2vh;
    list-style: none;
    gap: 4vw; 
}
a{
    color:#F1E9E9;
    text-decoration: none; 
    margin:0 1rem;
    font: 2.5vw;
}
.texto-header{
    height:20vh;
    background-image: url(../images/MeuFundo-AnaT3.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family:Georgia , Times;
    border-bottom: 4px solid #2b2b2b;
}
section{
    background-image: url(../images/fundo-de-substituto.avif);
    background-size: cover;
    min-height: 100vh;
    width:100%; 
    border-bottom: 10px #2b2b2b;
}
#sobre-mim{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    gap: 70px;
    font-size: 20px;
    font-family: Arial, serif;
    font-style: italic;
    border-bottom: 4px solid #2b2b2b;
}
#sobre-mim img{
    max-width: 30vw;
    border-radius: 100%;
}
.elemento-de-sobre-mim{
    max-width: 500px;
}



